:root {
    --navyblue-900: hsl(229, 57%, 11%); 
    --navyblue-700: hsl(228, 56%, 26%);
    --navyblue-500: hsl(229, 7%, 55%);
    --navyblue-300: hsl(243, 100%, 93%);
    --gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    --white: #ffffff;
    --gray-500: #a2a2a2;
    --boxshadow: hsla(229, 57%, 11%, 0.2); 
}

body {
    font-family: "Raleway", serif;
    font-size: 14px;
    color: var(--white);
    background-color: var(--navyblue-900);
    background-image: url(/images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 100vw;
    height: 100vh;
    margin: auto 10%;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 32px;
}

.files {
    padding: 48px;
    background-color: var(--navyblue-700);
    border-radius: 16px 100px 16px 16px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    box-shadow: 16px 16px 16px var(--boxshadow);
}

.cta {
    display: flex;
    gap: 8px;
}

.cta__icon {
    background-color: var(--navyblue-900);
    padding: 16px;
    height: 24px;
    border-radius: 8px;
    cursor: pointer;
}

.main__logo {
    align-self: flex-start;
}

.progress {
    background-color: var(--navyblue-700);
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;
    box-shadow: 16px 16px 16px var(--boxshadow);
}

.progress__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    gap: 64px;
}

.progress_percentage {
    display: flex;
    justify-content: space-between;
}

.progress__left {
    padding: 16px 24px;
    background-color: var(--white);
    border-radius: 16px 16px 0 16px;
    position: relative;
    margin-top: -60%;
    margin-bottom: 32px;
}

.chat:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 6px solid transparent;;
    border-right: 12px solid #fff;
    border-top: 6px solid #fff;
    border-bottom: 10px solid transparent;
    right: 0px;
    bottom: -16px;
  }

.progress__bar {
    background-color: var(--navyblue-900);
    height: 20px;
    width: 100%;
    border-radius: 32px;
    padding: 4px;
}

.progress__innerbar {
    background: var(--gradient);
    height: 100%;
    width: 80%;
    border-radius: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.progress__bullet {
    background-color: var(--white);
    border-radius: 32px;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 2px
}

p {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.big {
    font-size: 48px;
    color: var(--navyblue-900);
    font-weight: 700;
}

.p_left {
    font-size: 14px;
    font-weight: 700;
    color: var(--gray-500);
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .files {
        width: 75%;
    }

    body {
        background-image: url(/images/bg-mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}